
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.


/* You can add global styles to this file, and also import other style files */

:root {
  --app-title-color: var(--mdc-switch-selected-track-color);
  --app-label-color: var(--mdc-switch-selected-track-color);
  --app-alert-text-color: ;
  --mat-sidenav-container-divider-color: var(--mat-divider-color);
  --mat-toolbar-container-background-color: var(--mat-divider-color);
}

body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--mat-app-background-color);
}

a {
  color: var(--mat-sidenav-content-text-color);

  &:hover {
    color: var(--app-label-color);
  }
}

.error-snackbar .mdc-snackbar__surface {
  //background-color:  !important;
  color: white;
}

.warn-snackbar .mdc-snackbar__surface {
  //background-color:  !important;
  color: white;
}

.confirm-snackbar .mdc-snackbar__surface {
  //background-color: var(--mdc-outlined-text-field-error-outline-color) !important;
  color: white;
}

.table-filters {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px 0;
}


.crud-form,
.login-form {
  form {
    width: 640px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;

    & > * {
      width: calc(100% - 16px);
      box-sizing: border-box;

      &[size="1:2"] {
        width: calc(50% - 16px);
      }

      &[size="1:3"] {
        width: calc(33% - 16px);
      }

      &[size="1:4"] {
        width: calc(25% - 16px);
      }
    }

    .buttons {
      margin-top: 20px;
    }
  }
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  text-align: center;

  h2 {
    color: var(--app-label-color);
  }

  form {
    width: 320px;
    gap: 0;

    & > * {
      width: 100%;
      margin-right: 0;
    }
  }
}

.mat-mdc-header-row {
  th {
    color: var(--app-label-color);
    font-weight: bold;
  }
}

.td-drag {
  flex: 0 0 100px;
}

.td-tools {
  text-align: right !important;
  justify-content: end;
  flex: 0 0 150px;
}


.profile {
  display: flex;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
}
.profile-image {
  width: 100px;
  height: 100px;
  margin-right: 16px;
  position: relative;
}
.profile-image img {
  display: block;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.profile-btn {
  position: absolute;
  right: 0;
  bottom: -16px;
}
.profile-details {
  columns: 2;
  column-gap: 16px;
}
.profile-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  break-inside: avoid;

  label {
    font-weight: bold;
    font-size: 12px;
    color: var(--app-label-color);
  }

  span {
    font-size: 16px;
  }
}
.chips {
  display: flex;
  align-items: center;

  mat-chip-set {
    margin-right: 8px;
  }

  mat-form-field {
    width: 50%;
  }
}

.mat-expansion-panel {
  margin: 16px !important;
}

.mat-expansion-panel-header-title {
  color: var(--app-title-color) !important;
}

.mat-mdc-table {
  margin: 0 16px !important;
  width: calc(100% - 32px) !important;
  min-width: 0 !important;
  border-radius: var(--mat-expansion-container-shape);
}
.mat-mdc-header-row {
  border-radius: var(--mat-expansion-container-shape) var(--mat-expansion-container-shape) 0 0;

  .mat-mdc-header-cell:first-child {
    border-top-left-radius: var(--mat-expansion-container-shape);
  }
  .mat-mdc-header-cell:last-child {
    border-top-right-radius: var(--mat-expansion-container-shape);
  }
}


.mat-mdc-row:last-child {
  border-radius: 0 0 var(--mat-expansion-container-shape) var(--mat-expansion-container-shape);

  .mat-mdc-cell:first-child {
    border-bottom-left-radius: var(--mat-expansion-container-shape);
  }
  .mat-mdc-cell:last-child {
    border-bottom-right-radius: var(--mat-expansion-container-shape);
  }
}
